<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find hippo_sim)/models/thruster/urdf/thruster_macro.xacro" />

    <xacro:macro name="bluerov_thrusters" params="parent_link">
        <xacro:thruster parent="${parent_link}" model="t200" suffix="front_starboard_horizontal"
            xyz="0.14 -0.10 0" rpy="0 0 ${radians(45)}" turning_direction="cw" propeller_direction="ccw"
            color="red" number="0" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="front_port_horizontal" xyz="0.14 0.10 0"
            rpy="0 0 ${radians(-45)}" turning_direction="cw" propeller_direction="ccw" color="green"
            number="1" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="rear_starboard_horizontal"
            xyz="-0.14 -0.10 0" rpy="0 0 ${radians(135)}" turning_direction="cw"
            propeller_direction="cw" color="grey" number="2" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="rear_port_horizontal" xyz="-0.14 0.10 0"
            rpy="0 0 ${radians(-135)}" turning_direction="cw" propeller_direction="cw" color="grey"
            number="3" />

        <xacro:thruster parent="${parent_link}" model="t200" suffix="front_starboard_vertical"
            xyz="0.12 -0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="cw"
            propeller_direction="ccw" color="red" number="4" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="front_port_vertical"
            xyz="0.12 0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="ccw"
            propeller_direction="ccw" color="green" number="5" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="rear_starboard_vertical"
            xyz="-0.12 -0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="ccw"
            propeller_direction="ccw" color="grey" number="6" />
        <xacro:thruster parent="${parent_link}" model="t200" suffix="rear_port_vertical"
            xyz="-0.12 0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="cw"
            propeller_direction="ccw" color="grey" number="7" />
    </xacro:macro>
</robot>
